.top-bar {
    a {
        color: lighten($dark-gray, 25%);
    }
}

.top-bar-right li a:hover {
    background-color: lighten($topbar-background, 20%);
    color: white;
}

.menu a:hover {
  background-color: $light-gray;
}

.modal-body {
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  margin-bottom: 1em;
}

#toc {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
        text-indent: 1em;
    }
    h3 {
        font-size: 1em;
        text-indent: 2em;
    }
    h4 {
        font-size: 1em;
        text-indent: 3em;
    }
    h5 {
        font-size: 1em;
        text-indent: 4em;
    }
    h6 {
        font-size: 1em;
        text-indent: 5em;
    }
    p {
        text-indent: 6em;
    }
}

p.subtitle {
    font-size: 2em;
}

.orbit-previous, .orbit-next {
    color: $black;
}

#credits {
    text-align: center;
}
