<div data-sticky-container>
    <div class="top-bar" data-sticky data-options="marginTop:0;" style="width:100%">
      <div class="top-bar-title">
          <a href="#">Foundations of Info-Metrics</a>
      </div>
      <div>
        <div class="top-bar-left">
        </div>
        <div class="top-bar-right">
            <ul class="menu" data-accordion-menu>
                <li>
                    <a href="https://www.american.edu/cas/faculty/agolan.cfm">About the Author</a>
                </li>
                <li>
                    <a href="{{root}}books.html">Other Books by the Author</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
</div>