<nav>
    <ul class="menu vertical" data-accordion>
        <li {{#ifpage 'index'}} class="active" {{/ifpage}}>
            <a href="{{root}}/index.html">Home</a></li>
        <li {{#ifpage 'topics'}} class="active" {{/ifpage}}>
            <a href="{{root}}/topics.html">Short Table of Contents</a></li>
        <li {{#ifpage 'toc'}} class="active" {{/ifpage}}>
            <a href="{{root}}/toc.html">Detailed Table of Contents</a></li>
        <li {{#ifpage 'interact'}} class="active" {{/ifpage}}>
            <a href="{{root}}/interact.html">An Interactive Example</a></li>
        <li {{#ifpage 'code'}} class="active" {{/ifpage}}>
            <a href="{{root}}/code.html">Codes and Examples</a></li>
        <li {{#ifpage 'data'}} class="active" {{/ifpage}}>
            <a href="{{root}}/data.html">Data for Examples</a></li>
        <li {{#ifpage 'bibliography'}} class="active" {{/ifpage}}>
            <a href="{{root}}/bibliography.html">Bibliography</a></li>
        <li {{#ifpage '{{root}}/endorsements.html'}} class="active" {{/ifpage}}>
            <a href="{{root}}/endorsements.html">Endrosements</a></li>
        <li>
            <a href="#">Info-Metrics Institute at American University</a></li>
    </ul>
</nav>
