<nav>
    <ul class="menu vertical">
        <li {{#ifpage 'index'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/index.html">Home</a></li>
        <li {{#ifpage 'topics'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/topics.html">Short Table of Contents</a></li>
        <li {{#ifpage 'toc'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/toc.html">Detailed Table of Contents</a></li>
        <li {{#ifpage 'interact'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/interact.html">An Interactive Example</a></li>
        <li {{#ifpage 'code'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/code.html">Codes and Examples</a></li>
        <li {{#ifpage 'data'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/data.html">Data for Examples</a></li>
        <li {{#ifpage 'bibliography'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/bibliography.html">Bibliography</a></li>
        <li {{#ifpage '{{root}}/endorsements.html'}} class="active" {{/ifpage}}>
            <a href="{{root}}/info-metrics-test/endorsements.html">Endrosements</a></li>
        <li>
            <a href="#">Info-Metrics Institute at American University</a></li>
    </ul>
</nav>
