<nav id="main-menu">
    <ul class="menu vertical">
        <li {{#ifpage 'index'}} class="active" {{/ifpage}}>
            <a href="{{root}}index.html">Home</a></li>
        <li {{#ifpage 'topics'}} class="active" {{/ifpage}}>
            <a href="{{root}}topics.html">Short Table of Contents</a></li>
        <li {{#ifpage 'toc'}} class="active" {{/ifpage}}>
            <a href="{{root}}toc.html">Detailed Table of Contents</a></li>
        <li {{#ifpage 'interact' 'three_sided_dice' 'portfolio_short' 'portfolio'}} class="active" {{/ifpage}}>
            <a href="{{root}}interact.html">Interactive Examples</a></li>
        <li {{#ifpage 'code'}} class="active" {{/ifpage}}>
            <a href="{{root}}code.html">Codes and Examples</a></li>
        <li {{#ifpage 'data'}} class="active" {{/ifpage}}>
            <a href="{{root}}data.html">Data for Examples</a></li>
        <li {{#ifpage 'bibliography'}} class="active" {{/ifpage}}>
            <a href="{{root}}bibliography.html">Bibliography</a></li>
        <li {{#ifpage 'supplemental'}} class="active" {{/ifpage}}>
            <a href="{{root}}supplemental.html">Supplemental Material by
            Chapter</a></li>
        <li {{#ifpage 'endorsements'}} class="active" {{/ifpage}}>
            <a href="{{root}}endorsements.html">Endorsements</a></li>
        <li {{#ifpage 'video'}} class="active" {{/ifpage}}>
            <a href="{{root}}video.html">Recent 'Foundations' Talks</a>
        </li>
        <li>
            <a href="https://www.american.edu/cas/economics/info-metrics/">Info-Metrics Institute at American University</a></li>
        <li class="show-for-small-only">
            <a href="https://www.american.edu/cas/faculty/agolan.cfm">About the Author</a>
        </li>
        <li class="show-for-small-only">
            <a href="{{root}}books.html">Other Books by the Author</a>
        </li>
    </ul>
    {{> signup}}
</nav>
