{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109788105-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109788105-1');
</script>

    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="info-metrics,information theory, maximum entropy, modeling, optimality, uncertainty, under-determined problems, inference, multidisciplinary modeling, statistical inference {{keywords}}" />
    <title>{{ title }} - Foundations of Info-Metrics</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> header}}
    <div class="row">
        <div class="column small-12 medium-4">
            {{> navigation}}
        </div>
        <div class="column small-12 medium-8">
            {{> body}}
        </div>
    </div>
    <script src="{{root}}assets/js/app.js"></script>

    {{#ifpage 'index'}}
    <script src="{{root}}assets/js/single-page/magnific-popup.js"></script>
    {{/ifpage}} {{#ifpage 'code'}}
    <script src="{{root}}assets/js/single-page/list.js"></script>
    {{/ifpage}}
</body>

</html>
